.EXTENSION_MASTODON_HANDLES_mastodonIcon {
    color: rgb(113, 118, 123);
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    transform: translateY(2px); /* idk, visually center it... */
}

.EXTENSION_MASTODON_HANDLES_mastodonIcon:hover {
    /* Highlight it somehow. */
}
