.EXTENSION_MASTODON_HANDLES_mastodonIcon {
    color: rgb(113, 118, 123);
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    transform: translateY(-1px); /* idk, visually center it... */
}

.EXTENSION_MASTODON_HANDLES_mastodonIcon:hover {
    /* Todo: Highlight the icon. */
}
