.EXTENSION_MASTODON_HANDLES_promotionLink {
    color: rgb(113, 118, 123);
    font-family: 'TwitterChirp', sans-serif;
    font-size: 0.75em;
    text-decoration: none;
}

.EXTENSION_MASTODON_HANDLES_promotionLink[href]:hover {
    text-decoration: underline;
}

.EXTENSION_MASTODON_HANDLES_mastodonIcon {
    color: rgb(113, 118, 123);
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    transform: translateY(2px); /* idk, visually center it... */
}

.EXTENSION_MASTODON_HANDLES_mastodonIcon:hover {
    color: rgb(113, 118, 123);
}
